@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme{
   --custom-inset: inset 2px 2px rgb(206, 206, 206), inset -2px -2px gray;
   --custom-inset-type : inset 2px 2px rgb(40, 40, 40),inset -2px -2px rgb(226, 226, 226);
   --custom-inset-button : inset 2px 2px rgb(236, 236, 236),inset -2px -2px rgb(0, 0, 0)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
